
.front {
}

.back {
}

.card { /*this should really be done responsively with bootstrap.*/
  height:220px;
  border: 1px solid black;
  border-radius: 25px;
  background: lightblue;
  padding: 20px; 
  width: 400px;
}

input {
  margin-left:5px;
  margin-right:5px;
}