html {
  font-family: Roboto, Calibri, Trebuchet, sans-serif;
  height:100%;
}

body {
  height:100%;
  /*background-color:rgb(255, 255, 204);*/
  background-color:lightblue;
}

/* this fixes a bizarre bug that does not occur on my machine,
but does on monisha's, and on heroku. This rule is in materialize.min.css,
but it does not get applied unless specified here manually. */
.card .card-action a {
  margin-right: 20px;
}

.mdi-navigation-menu {
  font-size:30px;
}

.sidebar {
  background-color:grey;
  height:100%;
}

.side-nav {
  left:-240 !important;
}

.cow {
  /*background-image: url("./misc/background.jpg");*/
  /*background-size:100% 100%;*/
  margin:20px;
  height:100%;
}

.btn-large {
  border-radius:5px;
  margin:2px !important;
  min-width:173px;
  background-color:rgba(30, 13, 13, 0.5);;
}

/*img {
  height:100%;
  width:100%;
}*/

.top-bottom-pad-mar {
  border-radius: 10px;
  min-height: 491px !important; /* overcomes glitch that has cropped up from bower installing different materialize files, it seems... temp patch.*/
  color: black;
  background-color:rgba(0, 13, 13, 0.05);
  margin:10px;
  padding-top:20px !important;
  padding-bottom:20px !important;
}

.anteater {
  height:100%;
}

.btn {
  min-width:170px;
  margin-bottom:10px;
  border-radius:5px;
}

.logo {
  color:lightblue;
}

.nav-text {
  color:white !important;
}

.card-action a{
  color:white !important;
}

.active-sidebar {
  /*background-color:orange !important;*/
}

.sidebar-text:hover {
  background-color:lightblue !important;
}

.side-nav li.username:hover {
  background-color:#546e7a !important;
}

.username {
  font-weight:bold;
}

.card {
  border-radius:5px !important;
  opacity:0;
}

.edit {
  min-width:5px;
  width:20px;
}

#SPA {
  height:100%;
  background-color:lightblue;
  background-size:100% 100%;
}
